.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
}

.accordion:after {
	content: '\02795';
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
}

.active,
.accordion:hover {
	background-color: #ccc;
}

.text {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}